// MIXINS
@mixin flex($justify, $align, $direction: row) {
  display: flex;
  flex-wrap: wrap;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@mixin bgBasic($position: center, $size: cover) {
  background-position: $position;
  background-size: $size;
  background-repeat: no-repeat;
}

@mixin btn(
  $bgColor,
  $borderColor,
  $txtColor,
  $bgHover,
  $borderHover,
  $txtHover
) {
  /* style*/
  padding: 0.8em 40px;
  background: $bgColor;
  border: 3px solid $borderColor;
  color: $txtColor;
  font-size: 1.2rem;
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: $textFont;
  cursor: pointer;
  transition: $transition;
  @media (max-width: 767px) {
    font-size: 1rem;
    margin: 0 auto;
  }
  &:hover {
    background-color: $bgHover;
    border: 3px solid $borderHover;
    color: $txtHover;
    opacity: 0.8;
  }
}

@mixin underline($margin, $bgColor) {
  &::after {
    content: "";
    display: block;
    height: 5px;
    width: 100px;
    margin: $margin;
    background: $bgColor;
  }
}
